<!DOCTYPE html>
<html>
  <head>
    <title>Dishes</title>
  </head>
  <body>
    <h1>Dishes</h1>
    <ul>
      <% dishes.forEach(dish => { %>
        <li><%= dish.name %> (<%= dish.rating %> stars)</li>
      <% }) %>
    </ul>
  </body>
</html>
