<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>restaurants</title>
</head>
<body>
<h1><%= city.city %> Restaurants</h1>
<ul>
    <% city.restaurants.forEach(restaurant => 
    { %>
        <li><a href="/dishes/<%= city.city %>/<%= restaurant.name %>"><%= restaurant.name %></a></li>
      <% 
    });
    %>
</ul>
</body>
</html>
